

/* Small devices (tablets, 768px and up) */


@media (min-width: @screen-sm-min) { 
  
  .top {
    height: 50px;
    padding: 5px 0;
    .top-left {
      img {
        height: 40px;
      }
    }
    .top-right {
      text-align: right;
      margin-top: 20px;
      p {
        font-size: @small;
      }
      span {
        display: inline;
        color: @red;
        font-weight: bold;    
      }
    }
  } // end of .top
  .row {
    margin-left: 10px;
    margin-right: 10px;
  }
  .slider {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    height: 330px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    background: url('images/slider-bg-one.png') top left no-repeat;
    transition: background-position 1s ease-in-out;
    .main-slider {
      .slides {
        li {
          height: 330px;
          text-align: center;
          h1 {
            
            text-align: left;
            color: @white;
            .text-shadow();
            margin-top: 110px;
            font-size: 32px;
          }
          p {
            text-align: left;
            
            color: @white;
            font-size: (@big + 2px);
            .text-shadow();
          }
          img {
            float: right;
            height: 330px;
            width: auto;
          }
        }
      }
      
    }
  } // end of .slider
  .testimonials, .more-courses {
    height: 275px;
  }
  .courses {
    height: 543px;
    overflow: scroll;
  }
  .less-bg {
    background-position-x: -30px;
  }

  .more-bg {
    background-position-x: -60px;
  }

  footer {
  background: @darkgray;
  height: 200px;

  .footer-left {
    text-align: left;
    margin: 0;
    padding: 0;
     li {
        display: inline-block;
        padding: 0 10px;
        width: auto;
        text-decoration: none;
        text-transform: uppercase;
        font-size: (@micro + 1px);
        color: @white;
        text-align: left;
      }
      li[data-toggle="modal"] {
        cursor: pointer;
        &:hover {
          color: @lightgray;
        }
      }
      li.last {
        border-right: 0;
      }
  }
  #footer-controls {
    border-top: 0;
   width: auto;
      margin: 0;
      padding: 0;
      text-align: right;
      li {
       border-top: 0;
        display: inline-block;
        padding:  0 10px;
        border-right: 1px solid @red;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        font-size: (@micro + 1px);
        text-align: right;
        color: @white;
        width: auto;
        a {
          color: @white;
        }
        &:hover {
          color: @lightgray;
        }
      }
      li.last {
        border-right: 0;

      }
    
  }
}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }