/*
Theme Name: RSA by Smithandrowe
Theme URI: http://wordpress.org/themes/twentyfourteen
Author: Marcos Posada 
Author URI: http://www.smithandrowe.com.au/
Description: Theme exclusively designed for National Skills Group by Smith and Rowe
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html


This theme, like WordPress, Twitter Bootstrap, Less, Codekit and all other stuff implemented is licensed under the GPL.

*/


// Colour Variables

@white: white;
@black: black;
@gray: #979797;
@darkgray: #595959;
@lightgray: #dadada;
@lightblue: #30bbef;
@tablelightgray: #646464;
@red: #ef4950; 

// Fonts

@rsa: 'Gotham Narrow A', 'Gotham Narrow B';

//Sizes

@huge: 30px;
@big: 24px;
@medium: 18px;
@small: 14px;
@smallest: 11px;
@micro: 9px;

// General parameters



  .row {
    margin-left: 0;
    margin-right: 0;
  }


body, h1, h2, h3, h4, a {
  font-family: @rsa;
  color: @gray;
}

.entry-meta {
  display: none;
}

.btn {
  .text-shadow(1px 1px 0 @darkgray);
}
p {
  color: @darkgray;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

ul li {
  color: @darkgray;
}


.top {
  height: 50px;
  padding: 5px 0;
  .top-left {
    img {
      height: 40px;
    }
  }
  .top-right {
    text-align: right;
    margin-top: 10px;
    p {
      font-size: @micro;
    }
    span {
      display: block;
      color: @red;
      font-weight: bold;    
    }
  }
}



.slider {
  
  height: 160px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  background: url('images/slider-bg-one.png') top left no-repeat;
  transition: background-position 1s ease-in-out;
  .main-slider {
    .slides {
      li {
        height: 160px;
        text-align: center;
        h1 {
          font-size: @medium;
          text-align: left;
          color: @white;
          .text-shadow();
          margin-top: 40px;
        }
        p {
          text-align: left;
          
          color: @white;
          font-size: @smallest;
          .text-shadow();
        }
        img {
          float: right;
          height: 160px;
          width: auto;
        }
      }
    }
    .flex-direction-nav {
      display: none;
      a {
        background: url('images/bg_direction_nav.png') no-repeat 0 0
      }
      .flex-next {background-position: 100% 0; right: 20px; top: 217px; }
      .flex-prev {left: 20px; top: 217px}
    }
  }
}

// background class

.less-bg {
  background-position-x: -30px;
}

.more-bg {
  background-position-x: -60px;
}

// HOME

#home {
  padding: 20px 0;
}

// STANDARD BLOCKS

.title {
  width: 100%;
  text-align: left;
  color: @darkgray;
  font-weight: bold;
  font-size: @medium;
  background: @lightgray;
  padding: 10px;
  .border-radius(5px);
}

#accordion {
  margin-bottom: 20px;
  .panel {
    border: none;
    .box-shadow(none);

    .panel-heading {
      a {
        
        .panel-title {
          color: @darkgray; 
        }
        i {
          float: right;
        }
        &:hover {
          text-decoration: none;
          color: @red;
        }
        h4 {
          &:hover {
            color: @lightblue;
          }
        }
      }
    }  
    
    .panel-collapse {
      .panel-body {
        p {
         color: @darkgray; 
        }
        h1 {
          font-size: @medium;
          color: @darkgray;
        }
       
        
        ol li {
          font-weight: bold;
          margin-bottom: 5px;
          color: @darkgray; 
          
        }
        ul li {
          font-weight: normal;
          list-style-type: disc;
          color: @darkgray; 
        }
      }
    }

  }
}

.courses {
  overflow-x: hidden!important;
  table tbody, tr, td {
    height: auto;
  }

  .border-radius(5px);
  background: @darkgray;
  .box-sizing(padding-box);
  padding: 10px;
  .info {
    position: relative;
    margin: 10px 0 15px;
    .location {
      margin-top:20px;
      color: #F3F3F3;

      ._label, .buttonSet {
        display: block;
      }


      ._label {
        color: @white;
        margin-bottom:0px;
        font-size:15px;
        span._place {
          font-size: inherit;
          margin-bottom:0px;
          color: @white;
          font-size:20px;
          margin-left: 0;

        }
      }

    }
    .buttonSet {
      //position: absolute;
      //top:78px;
      //right: 35px;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        //margin-left:20px;
        color: #F3F3F3;
        font-size:17px;
        //display: inline-block;


        i.fa-clock-o {
          color:#5CB95C;
          margin-right: 9px;
        }
        img {
          width:20px;
          //margin-right:6px;
          //margin-top:-6px;
        }
        a {
          color:#F3F3F3;
          vertical-align: middle;
          display: inline-block;
        }
        a:hover{
          text-decoration:none;
        }


      } //li

    }
    @media (min-width: @screen-sm-min) {
      .location {
        ._label, ._place, .buttonSet {
          display: inline-block;
          width: auto;
        }

        ._label {
          span._place {
            display: block;
          }
        }
        .buttonSet {
          //margin-left: 15px;
          float: right;
          margin-top: 22px;
          li {
            display: inline-block;
            padding: 0 10px;
            border-right: 1px solid @white;
            &:last-child {
              border-right: none;
              padding-right: 0;
            }
            a, i, img {
              display: inline-block;
              vertical-align: baseline;
              margin: 0;
              padding: 0;
              line-height: 1;
              //margin-right: 3px;
            }
            a img {
              margin-top: 4px;
            }
            a {
              &:hover {
                color: @red;
              }
            }
            i.fa-clock-o {
              //margin-top: 2px;
            }
            //padding-top: 3px;
          }
        }
      }
    }
    h1 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: @huge;
      color: @white;
      .text-shadow();
    }
    span {
      margin: 0 5px 0 20px;
      display: inline-block;
      color: @white;
    }
    .ribbon {
      display: inline-block;
      position: relative;
      float: right;
      width: 177px;
      height: 49px;
      margin-right: -13px;
      background: url('images/ribbon.png') top left no-repeat;
      span, h2, small {
        .text-shadow();
        
      }
      span {
        display: inline-block;
        color: @white;
        font-size: (@small + 1px);
        margin-top: 8px;
        margin-left: 52px;
        font-weight: bold;
      }
      h2 {
        position: absolute;
        display: inline-block;
        margin: 4px 0 0 0;
        padding: 0;
        color: @white;
        font-size: @huge;
        
      }
      small {
        display: inline-block;
        float: right;
        margin-right: 13px;
        margin-top: 8px;
        color: @white;
        font-weight: bold;
        font-size: (@small + 1px);
      }
    }
  }
  
  table {
    height: 400px;
    color: @white;
    &.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
      background-color: @tablelightgray;
    }
    
    &.table > thead > tr > th {
      vertical-align: bottom;
      border-top: 2px solid #dddddd !important;
      border-bottom: 2px solid #dddddd;
    }
    &.table > tbody > tr > td {
      border: 0;
    }
    &.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
      background-color: rgba(245, 245, 245, 0.24);
      cursor: auto;
    }
    tbody {
      height: 400px;
    }
    tr td {
      a {
        color: @white;
        &:hover {
          color: @lightgray;
          text-decoration: none;
        }
      }
      .book-now {
        //.btn;
        width: 180px;
        padding: 1px 19px;
        font-size: 12px;

        &.green  {
          .btn-success;
        }
        &.red  {
          //.btn-warning;
          .btn-danger;
        }
      }
      span {
        color: @red;
        //.text-shadow();
      }
    }
    
  }
}



.testimonials {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  p {
    padding: 0 20px;
    font-size: (@smallest + 1px);
  }
}

.more-courses {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
}

// MODALS

#privacy {
  p, h4 {
    color: @darkgray;
  }
  h4 {
    font-size: @small;
  }
  p {
    font-size: @smallest;
  }
  ul {
    li {
      font-size: @smallest;
      color: @darkgray;
    }
  }
}

.modal-footer {
  button.btn.btn-default {
    color: @white;
    .text-shadow(none);
    background-color: @lightblue;
    border-color: @lightblue;
  }
}

// REGISTRATION

#registration {
  h3 {
    font-size: @medium;
    margin: 20px 0;
    color: @darkgray;
    color: @brand-primary;
  }
  p {
    font-size: @small;
  }
  span {
    color: @darkgray;
    font-weight: bolder;
  }
}
#event-reg-form-groups h3 {
  color: @brand-primary;
}

#venue-map {
  iframe {
    .border-radius(5px);
    border: 1px solid @lightgray;
  }
}

#event-date {
  margin-top: 20px; 
  span {
    font-weight: bolder;
    font-size: @small;
    color: @darkgray;
  }
  .col-xs-9 {
    
    span {
      font-weight: 400;
      margin-left: 10px;
    } 
  }
}

#registration_form {
  padding: 0 !important;
  margin: 20px 0;
  
  input[type='text'] {
    .form-control;
    width: 390px !important;
    display: inline;

  }
  fieldset {
    
    
  }
   label {
    font-size: @small !important;
    margin-left: 0;
    vertical-align: middle !important;    
    color: @darkgray;
    font-weight: lighter;
    &.error {
      color: @red;
    }
  }
  h4 {
    display: none !important;
  }
  .event_form_submit {
    padding: 20px 0 0 0;
    
    margin: 0;
    width: 100%;
    border-top: 1px solid @lightgray;
  }
  .espresso_add_attendee {
    margin-left: 8px;
    .espresso_add_subtract_attendees .additional-attendee-div {
      .pull-right;
      
      display: inline;
      
      margin: 10px 0 !important;
      padding: 0;
     
      a {
        .btn;
        margin-right: 8px;
        .text-shadow(none) !important;
        .btn-sm;
      }
      .remove-additional-attendee-lnk {
        .btn-danger;
        color: @white;
        .text-shadow(1px 1px 0 @darkgray);
        img {
          display: none !important;
        }
      }
      .add-additional-attendee-lnk {
        .btn-success;
        color: @white;
        .text-shadow(1px 1px 0 @darkgray);
        img {
          display: none !important;
        }
   
      }
    }
  }
}

.event_form_submit {
  clear: both;
  background: none;
  border: none;
  button {
    .btn;
    .btn-primary;
    .text-shadow(1px 1px 0 transparent);
    font-family: @rsa;
  }
}

#additional_header {
  margin: 20px 0;
  padding: 0;
  .additional-attendee-lnk {
    .btn;
   
  }
  .add-additional-attendee-lnk {
    .btn-info;
    
    color: @white;
    .text-shadow(1px 1px 0 transparent);
    
   
  }
}




// Payment Overview Section

div.ui-widget {
  
  background: none;
  border-bottom: 1px solid @gray;
}


div.event-data-display.ui-widget-content.ui-corner-bottom {
  border: none;
}

div.event-data-display {
  padding: 0;
}


.event-display-boxes {
  border: none;
  
  
  h2.ui-widget-header, h3.ui-widget-header {
    background: none;
    border: none;
    margin: 10px 0;
    padding: 0;
  } 
}

.event-messages {
  .alert;
  .ui-icon-alert {
    display: none;
  }
  p.instruct {
    
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
}

.event-conf-block {
  .additional-conf-info {
    display: none;
  }
  h3.event_title {
    border-bottom: 1px solid @lightgray;
    padding-bottom: 5px;
  }
  
  table.event-display-tables {
    .box-shadow(0) !important;
    webkit-box-shadow: none;
    box-shadow: none;
    float: left;
    width: 70%;
  }
  
  table, table tr, table td, table th {
    border: none !important;
    .text-shadow(none);
    font-family: @rsa;
  }
  input#confirm.btn_event_form_submit {display:none;}
  input#confirm2.btn_event_form_submit {
    .btn;
    .btn-primary;
    margin:5px 0;
    
    font-family: @rsa;
  }  
}


#nab_payment_form {
  label {
    font-family: @rsa;
    margin: 10px 0;
  }
  input[type="text"] {
    .form-control;
    width: 250px;
     &[name="EPS_CCV"] {
      width: 60px;
    }
  }
  input[type="submit"] {
    .btn;
    .btn-success;
    margin: 20px 0 0;
    color: @white;
  }
  select {
    .form-control;
    width: 250px;
   
  }
}

.event_espresso_form_wrapper {
  p {
    strong {
      font-family: @rsa;
    }
    
  }
  
  fieldset {
    h3.section-title {
      color: @brand-primary;
    }
    
    
  }
  
  .event_form_submit {
    input.event-form-submit-btn {
      .btn;
      .btn-primary;
      font-family: @rsa;
    }
  }
  
}

.confirmation-wrapper {
  #eWAYBlock {
    img {
      width: 164px;
      height: auto;
    }
    a {
      margin-bottom: 5px;
    }
  }
  span {
    color: @black;
    font-size: 10px;
    width: 164px;
    display: block;
    margin: 15px 0 5px 0;
    a {
      font-size: 10px;
      color: @black;
      text-decoration: underline;
    }
  }
}
.espresso_payment_overview {
  h3.section-heading {
    font-size: 20px;
  }
  table {
    font-family: @rsa;
    margin-bottom: 30px;
    tr {
     td {
       text-align: left;
     }
     td:first-child {
       
       width: 180px;
       font-weight: bolder;
       height: 30px;
     } // end td:first-child;
    } // end tr
  } // end table
}
// FOOTER

footer {
  background: @darkgray;

  padding: 20px 0;
  .footer-left {
    text-align: left;
    margin: 0;
    padding: 0;
     li {
        display: block;
        padding: 10px;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        font-size: (@micro + 1px);
        color: @white;
        text-align: center;
      }
      li[data-toggle="modal"] {
        cursor: pointer;
        &:hover {
          color: @lightgray;
        }
      }
      li.last {
        border-right: 0;
      }
  }
  #footer-controls {
    
    border-top: 1px solid @red;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      text-align: right;
      li {
        width: 100%;
        display: block;
        padding: 15px 10px;
        
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        font-size: (@micro + 1px);
        color: @white;
        text-align: center;
        a {
          color: @white;
        }
        &:hover {
          color: @lightgray;
        }
      }
      li.last {
        border-right: 0;
      }
    
  }
}

// Special rules for Firefox ONLY

@-moz-document url-prefix() {
  .panel, .courses {
    width: 100%;
    float: left;
  }
  .courses {
    margin-top: 10px;
  }
}

